

	<h3>Performances Reading Club Saison 1</h3>

	<dl class="dl-horizontal">
	  <dt>5 - 7 juin 2013</dt>
	  <dd><b>ZINC Arts & Cultures Numériques - Marseille</b><br/>
			Résidence Test. Sessions Test le 7 juin 14h30, 15h00 et 16h15. 
			<br/><a href="/event/zinc">Informations</a>
	  </dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>23 septembre 2013 </dt>
	  <dd><b>
			BPI, Centre Pompidou, Paris pour la Manifestation « chercher le texte »</b>
	  </dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>Octobre 2013</dt>
	  <dd><b>
			Furtherfield Londres - session internet</b>
	  </dd>
	</dl>
	
	<dl class="dl-horizontal">
	  <dt>19 novembre 2013 </dt>
	  <dd><b>
			Jeu de Paume, Paris session internet et lecture.</b>
	  </dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt>décembre 2013</dt>
	  <dd><b>
			OUDEIS, Le Vigan - session internet</b>
	  </dd>
	</dl>
	
	<dl class="dl-horizontal">
	  <dt>janvier 2014</dt>
	  <dd><b>Poptronics – session internet</b>
	  </dd>
	</dl>



