

<h3>Info</h3>
<p>Un texte, quatre ou cinq lecteurs et une arène interprétative où les lecteurs écrivent ensemble leur lecture au sein même du texte.</p>
<p>Proposant un moment et espace d’écriture en commun, le projet entraîne les lecteurs dans une "battle" intertextuel qui explore artistiquement le rapport de la lecture à l’écriture sur le web ainsi que le statut de l’auteur. Une sorte d'image en mouvement d'une pensée et d'une écriture collaboratives en train de se faire
Reading Club est un projet d'Annie Abrahams et Emmanuel Guez, inspiré des Reading Group de Brad Troemel et du Department of Reading de Sönke Hallman. </p>
<p>Regards extérieurs : Antoine Moreau, Colette Tron. </p>
<p>Projet réalisé avec le soutien du Dicréam.</p>
<p>Partenaires : Zinc (Marseille) - Furtherfield (Londres) - Jeu de Paume (Paris) - OUDEIS (Le Vigan) - Poptronics.</p>

