
<h2>Sign in</h2>
<form action="" method="post">
	<% if( form.message ){ %>
		<div class="alert alert-<%= form.message.type %>">
			<%= form.message.text %>
		</div>
	<% } %>
	<div class="control-group">
		<label>Email</label>
		<input type="text" name="email" value="<% form.email %>" />
	</div>
	<div class="control-group">
		<label>Password</label>
		<input type="password" name="password" />
	</div>
	<input type="hidden" name="redir" value="<% form.redir %>" class="btn primary" />
	<input type="submit" value="Sign in" class="btn primary" />

</form>
