

	<h3>ZINC Arts & Cultures Numériques - Marseille</h3>
	<a href="http://www.zinclafriche.org/" target="_blank">www.zinclafriche.org</a>
	
	<dl class="dl-horizontal">
	  <dt>
	  
	  </dt>
	  <dd>
	  	Résidence 5 - 7 juin 2013<br/>
		Session test le 7 juin<br/>
		15h00
	  </dd>
	</dl>

	<dl class="dl-horizontal">
	  <dt><h4>Tesxte 1</h4></dt>
	  <dd>
	  		
		<h4>Le P2P comme modèle de société.</h4>

	  	Avec Antoine Moreau, Hortense Gauthier, Nicolas Frespech, Aliette Guibert-Certhoux, Albertine Meunier, Colette Tron, Luc Dall'Armelina, Martine Neddam, Christophe Bruno, Gaspard Bébié-Valérian, Annick Rivoire et Yann Le Guennec<br/>
	  	<br/>
	  	<a href="/pad/51b1ace7c6a74b6165000009"><b>Accéder à l'écriture</b></a>

	  </dd>
	</dl>
