<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/components/jqueryuibootstrap/css/custom-theme/jquery-ui-1.10.2.custom.css">
        <link rel="stylesheet" href="/components/jquery.colorpicker/jquery.colorpicker.css">
        <link rel="stylesheet" href="/components/bootstrap-wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css">
        <link rel="stylesheet" href="/components/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="/components/bootstrap-datepicker/css/datepicker.css">
        <link rel="stylesheet" href="/styles/main.css">
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <div class="main">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span2 main-menu">
                        <% include menu %>
                    </div>
                    
                    <div class="span7 main-content">